{% extends '::base.html.twig' %}

{% block body %}
    <h1>Lỗi không tìm thấy trang</h1>

    <p>
        Trang không thể tìm thấy. Hãy kiểm tra lại đường dẫn hoặc 
        <a href="{{ path('homepage') }}">trở về trang chủ</a>
    </p>
{% endblock body %}
