<P>Hi {{ username }}</P>
<P>Có một tin nhắn từ hệ thống kohi.vn</P>
<P>Tiêu đề: {{ contact.name }}</P>
<P>Từ: {{ contact.email }}</P>
<P>Nội dung</P>
<P style="border: 1px solid #000">
{{ contact.message }}
</P>
<P>Vào hệ thống quản lý: <A href="http://kohi.vn/vi/admin/dmd/front/contact/list">Contact Manager</A></P>