<P>Chào bạn {{ username }}</P>

<P>
    Chúng tôi rất hân hạnh vì quý khách đã đăng ký nhận thông tin từ chúng tôi.
</P>
<P>
    Các thông tin về sản phẩm mới, dịch vụ mới hoặc các thông báo khác của KOHI sẽ được thông tin sớm nhất cho bạn.
</P>
<P>
    Một lần nữa xin cảm ơn sự quan tâm của quý khách!
</P>
<P>
    Ban quản lý <A href="http://kohi.vn">kohi.vn</A>.
</P>
