              <div class="footer-bottom">
                  <div class="container inner">
                      <p class="pull-left">&copy; 2018 Cafe Chat. designed by <a href="http://telex.vn">Telex.vn</a>. All rights reserved.</p>
                      <ul class="footer-menu pull-right">
                          <li><a href="{{url('homepage')}}">Trang chủ</a></li>
{#                          <li><a href="{{url('sotata_admin')}}">Quản lý</a></li>
                          <li><a href="{{url('dmd_coffee_index')}}">Bán hàng</a></li>#}
                          <li><a href="#book">Đặt hàng</a></li>
                          <li><a href="#gallery">Gallery</a></li>
                          <li><a href="#footer">Liên hệ</a></li>
                      </ul><!-- .footer-menu -->
                  </div><!-- .container -->
              </div><!-- .footer-bottom -->
