            <!--begin footer -->
            <footer class="footer clearfix">
                <div class="container">
                    <!--footer container-->
                    <div class="row-fluid">
                        <div class="span3">
                            <section>
                            
                                <h4>Địa chỉ liên hệ</h4>
                                <address>Tổ 8, khu vực 4 Phường Nhơn Phú<br>
                                    Thành phố Quy Nhơn<br>
                                    Bình Định<br>
                                    <strong><i class="icon-phone"></i> Ms Trinh: </strong> <a href="tel:+84935028018" class="tele">0935.028.018</a><br>
                                    <strong><i class="icon-phone"></i> Mr Đức: </strong>  <a href="tel:+84905778292" class="tele">0905.778.292</a><br>
                                    <strong><i class="icon-phone"></i> Miss My: </strong> <a href="tel:+841639984477" class="tele">0163.998.4477</a><br>
                                    <span class="overflow"><strong>Email:</strong> <a href="mailto:contact@kohi.vn">contact@kohi.vn</a></span> </address>
                            </section>
                            <!--close section-->

                            <section>
                                <h4>Thông tin mạng xã hội</h4>
                                <ul class="social">
                                    <!--<li><a class="fc-webicon rss round" href="#" title="RSS"></a></li>-->
                                    <li><a class="fc-webicon facebook round" href="https://www.facebook.com/kohi.vn" target="_blank" title="Facebook"></a></li>
                                    <!--<li><a class="fc-webicon twitter round" href="#" title="Twitter"></a></li>-->
                                    <li><a class="fc-webicon skype round" href="skype:princedominh?chat" title="Skype"></a></li>
                                    <!--<li><a class="fc-webicon dribbble round" href="#" title="dribble"></a></li>-->
                                    <!--<li><a class="fc-webicon linkedin round" href="#" title="Skype"></a></li>-->
                                </ul>
                            </section>
                            <!--close section-->
                        </div>
                        <!-- close .span3 --> 

                        <!--section containing newsletter signup and recent images-->
                        <div class="span5">
                            <section>
                                <h4>Cập nhật thông tin</h4>
                                <p>Hãy đăng ký email cho chung tôi để nhận được những thông tin mới nhất về các sản phẩm, dịch vụ. Chúng tôi cam kết sẽ không chia sẻ thông tin về email cho bất kỳ tổ chức, cá nhân nào.</p>
                                {% render(controller('DMDFrontBundle:Default:subscribeForm')) %}
                            </section>
                            <!--close section-->

                            <section>
                                <h4>Recent Images</h4>
                                <ul class="image-widget clearfix">
<!--                                    <li><a href="#"><img src="demo/image-widget/1.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/2.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/3.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/4.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/5.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/6.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/7.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/8.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/9.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/10.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/11.png" alt="" /></a></li>
                                    <li><a href="#"><img src="demo/image-widget/12.png" alt="" /></a></li>-->
                                </ul>
                            </section>
                            <!--close section-->
                        </div>
                        <!-- close .span5 --> 

                        <!--section containing blog posts-->
                        <div class="span4">
                            <section>
                                <h4>Về chúng tôi</h4>
                                <p>Công ty TNHH KOHI xây dựng sức mạnh thương hiệu bằng:
-	Sự hài lòng của khách hàng
-	Nâng cao giá trị khách hàng
-	Cung cấp các dịch vụ và sáng tạo cao
-	Không ngừng nâng cao chất lượng sản phẩm và dịch vụ
-	Không ngừng sáng tạo với những sản phẩm đẹp
-	Tạo một nền văn hóa đáng tự hào
-	Đầu tư cho con người
-	Tăng cường sự trung thành của tập thể
. <span class="small">© Đỗ Minh Đức.</span></p>
                            </section>
                        </div>
                        <!-- close .span4 -->
                    </div>
                    <!-- close .row-fluid-->
                </div>
                <!-- close footer .container--> 
            </footer>
            <!--/close footer--> 

            <!--change this to your stuff-->
            <section class="footer-credits">
                <div class="container">
                    <ul class="clearfix">
                        <li>© 2013 K O H I Ltd Company. All rights reserved.</li>
                    </ul>
                </div>
                <!--close footer-credits container--> 
            </section>
            <!--close section .footer-credits--> 
            <span class="backToTop"><a href="#top"><i class="e-icon-up-open-big"></i></a></span>
